.cardsContainer {
  display: flex;
  justify-content: space-between;
}

.akaCard {
  background-color: #bf0303;
}

.shiroCard {
  background-color: var(--shiro-color);
}

.colorName {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.akaName {
  padding-left: 70px;
  font-size: 2.5vw;
  color: #bf0303;
}

.shiroName {
  padding-right: 70px;
  font-size: 2.5vw;
  color: white;
}

.blinking {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
