.bigNumberContainer {
  height: 45vh;
  text-align: center;
  vertical-align: middle;
}

.bigNumber {
  background-color: transparent;
  width: 100%;
  height: 45vh;
  font-size: 27vw;
  font-weight: bold;
  border: none;
}

.white {
  color: white;
  margin: auto;
  direction: ltr;
  text-align: center;
}

.black {
  color: black;
  margin: auto;
  margin-left: -200px;
  direction: rtl;
  text-align: center;
}

.blinking {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
