html {
  /* zoom: 0.8; */
  background-color: blue;
}

#root {
  /* max-width: 1280px; */
  padding: 10px 0px 25px 75px;
  background-color: #f3f3f3;
  zoom: 1;
}

.display-mode #root {
  margin: 0;
  background-color: black;
  width: 100%;
  display: block;
  zoom: 1;
}

.display-mode {
  margin: 0;
}

.main-content-wrapper {
  display: flex;
}

.main-content {
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
