:root {
  font-family: Courier;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(42, 42, 42, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.2rem;
}

select,
input {
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  border: 1px solid black;
  height: 25px;
}

input[type="checkbox"] {
  width: 18px;
}

select option {
  font-size: larger;
}

h2 {
  width: fit-content;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
