:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(42, 42, 42, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-background-color: black;
  /* --theme-background-color: rgb(192, 192, 192); */
  --theme-navBar-color: rgba(0, 0, 0, 0.8);
  /* --theme-navBar-color: rgba(192, 192, 192, 0.8); */
  --theme-text-color: white;
  --theme-icons-color: white;
  --aka-color: #bf0303;
  --aka-contrast-color: white;
  --shiro-color: white;
  --shiro-contrast-color: black;
  --lost-by-fouls-color: rgb(255, 78, 18);
  --clock-color: yellow;
  --clock-last-seconds-color: orange;
}

body {
  font-size: 1.2rem;
}

select,
input {
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  border: 1px solid black;
  height: 25px;
}

input[type="checkbox"] {
  width: 18px;
}

select option {
  font-size: larger;
}

h2 {
  width: fit-content;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
